<!DOCTYPE html>
<html>
<head th:replace="layout :: site-head"></head>
<body>
	<header th:replace="layout :: site-header"></header>

	<div th:fragment="content">

		<header id="gtco-header" class="gtco-cover" role="banner">
			<div class="container">
				<div class="row">
					<div class="slider_text col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>সেরা শিক্ষক মূল্যায়ন</h1>
								<h2 style="color: #A2FCFD;">
									মানুষ গড়ার কারিগরকে স্বীকৃতি দেবার একটি ছোট্ট প্রয়াস<a
										href="#" target="_blank"></a>
								</h2>
								<div class="boxed">
									<h4>আমি একজন</h4>
									<span> <a href="#"><input id="btn-teacher"
											type="button" value="শিক্ষক" /></a> <a href="#"><input
											id="btn-student" type="button" value="শিক্ষার্থী"></a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron" id="listed-institutes">
			<div class="container"></div>
		</div>
		<div class="container-fluid" id=teachersListView>
			<div class="container">
				<!-- Example row of columns -->
				<h4>মানুষ গড়ার সকল কারিগরবৃন্দ</h4>
				<div>
					<div class="row">
						<div class="col-md-4" th:each="teacher : ${teacherList}" onload="">
							<!-- 	{id}(id=${user.id}) -->
							<img
								th:src="@{/user/avatar/image/{nameOfTeacher}(nameOfTeacher=${teacher.name})}"
								class="img-responsive" alt="" height="100px" width="150px" /> <br>


							<label th:text="${teacher.name}">...</label><br> <label
								th:text="${teacher.instituteName}">...</label><br> <label
								th:text="${teacher.aboutTeacher}">...</label><br> <input
								type="submit" value="Vote" />&nbsp; &nbsp; <input type="submit"
								value="Share" /><br> <br>

						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
		<!-- <div class="container-fluid" id=postsListsView>
			Example row of columns
			<h4>স্মৃতিঅম্লান</h4>
			<h2>List of all posts!</h2>
			<div>
				<div class="row">
					<div class="col-md-6" th:each="post : ${postsList}">

						<label th:text="${post.title}">...</label><br> <label
							th:text="${post.body}">...</label><br> <label
							th:text="${post.email}">...</label><br> <input
							type="submit" value="Like" />&nbsp; &nbsp; <input type="submit"
							value="Share" /><br> <br>

					</div>
				</div>
			</div>
			<hr>
		</div> -->

	</div>
	<footer th:replace="layout :: site-footer"></footer>
</body>
</html>