<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-grid.css}"></link>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-grid.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-reboot.css}"></link>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-reboot.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"></link>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/main.css}"></link>
<meta th:include="this :: head" th:remove="tag"></meta>
<title>সেরা শিক্ষক</title>
</head>
<body>
	<header th:fragment="site-header">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".nav-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">সেরা শিক্ষক</a>
					<p>দেশ ও জাতি গঠনের কারিগর।</p>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li th:classappend="${module == 'home' ? 'active' : ''}"><a
							href="#" th:href="@{/admin/home}">Home</a></li>
						<li th:classappend="${module == 'tasks' ? 'active' : ''}"><a
							href="#" th:href="@{/registration}">Sign Up</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li th:if="${#authorization.expression('!isAuthenticated()')}">
							<a href="/signin" th:href="@{/signin}"> <span
								class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign
								in
						</a>
						</li>
						<li th:if="${#authorization.expression('isAuthenticated()')}">
							<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
								<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
						</a>
							<form style="visibility: hidden" id="form" method="post"
								action="#" th:action="@{/logout}"></form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<h1>Welcome</h1>
	<p>Welcome to Memorable posts</p>
	<footer th:fragment="site-footer">
		<div th:fragment="footer">&copy; 2016 Footer</div>

	</footer>
	
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
</body>
</html>